body {
	display: flex;
	flex-direction: column;
}
#display {
	display: flex;
	/* border-style: solid;
	border-color: blue; */
	padding: 10px 25px;
	font-size: xx-large;
	font-weight: bolder;
	justify-content: center;
	align-items: center;
}

.keypad {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	/* border-style: solid;
	border-color: red; */
	justify-content: center;
	gap: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
	font-size: large;
	font-weight: bold;
	width: 5vw;
	height: 5vw;
	border-radius: 8px;
	border-style: solid;
}

.big-button {
	font-size: large;
	font-weight: bold;
	width: 11vw;
	height: 5vw;
	border-radius: 8px;
	border-style: solid;
}
